{% extends 'layout.html'%}
{% block content %}
      <!--//banner -->
      <div class="inner_page-banner one-img">
      </div>
      <!--//banner -->
      <!-- short -->
      <div class="using-border py-3">
         <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
               <li>
                  <a href="index.html">Home</a>
                  <span>/ /</span>
               </li>
               <li>Gallery</li>
            </ul>
         </div>
      </div>
      <!-- //short-->
      <!--Gallery-->
      <section class="gallery py-lg-4 py-md-3 py-sm-3 py-3 ">
         <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Our Gallery</h3>
            <div class="row grid gallery-info">
               <div class="col-lg-4 col-md-4 col-sm-12 gallery-grids">
                  <figure class="effect-moses">
                     <img src="images/g1.jpg" alt="" class="img-fluid">
                     <figcaption>
                        <h4>Trim<span><br>Fit</span></h4>
                        <p>Lorem ipsum dolor</p>
                        <a href="images/g1.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
                        </a>
                     </figcaption>
                  </figure>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-12 gallery-grids">
                  <figure class="effect-moses">
                     <img src="images/g2.jpg" alt="" class="img-fluid">
                     <figcaption>
                        <h4>Trim<span><br>Fit</span></h4>
                        <p>Lorem ipsum dolor</p>
                        <a href="images/g2.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
                        </a>
                     </figcaption>
                  </figure>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-12 gallery-grids">
                  <figure class="effect-moses">
                     <img src="images/g3.jpg" alt="" class="img-fluid">
                     <figcaption>
                        <h4>Trim<span><br>Fit</span></h4>
                        <p>Lorem ipsum dolor</p>
                        <a href="images/g3.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
                        </a>
                     </figcaption>
                  </figure>
               </div>
            </div>
            <div class="row grid gallery-info my-lg-4 my-md-3">
               <div class="col-lg-4 col-md-4 col-sm-12 gallery-grids">
                  <figure class="effect-moses">
                     <img src="images/g3.jpg" alt="" class="img-fluid">
                     <figcaption>
                        <h4>Trim<span><br>Fit</span></h4>
                        <p>Lorem ipsum dolor</p>
                        <a href="images/g3.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
                        </a>
                     </figcaption>
                  </figure>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-12 gallery-grids">
                  <figure class="effect-moses">
                     <img src="images/g4.jpg" alt="" class="img-fluid">
                     <figcaption>
                        <h4>Trim<span><br>Fit</span></h4>
                        <p>Lorem ipsum dolor</p>
                        <a href="images/g4.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
                        </a>
                     </figcaption>
                  </figure>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-12 gallery-grids">
                  <figure class="effect-moses">
                     <img src="images/g5.jpg" alt="" class="img-fluid">
                     <figcaption>
                        <h4>Trim<span><br>Fit</span></h4>
                        <p>Lorem ipsum dolor</p>
                        <a href="images/g5.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
                        </a>
                     </figcaption>
                  </figure>
               </div>
            </div>
            <div class="row grid gallery-info">
               <div class="col-lg-4 col-md-4 col-sm-12 gallery-grids">
                  <figure class="effect-moses">
                     <img src="images/g6.jpg" alt="" class="img-fluid">
                     <figcaption>
                        <h4>Trim<span><br>Fit</span></h4>
                        <p>Lorem ipsum dolor</p>
                        <a href="images/g6.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
                        </a>
                     </figcaption>
                  </figure>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-12 gallery-grids">
                  <figure class="effect-moses">
                     <img src="images/g7.jpg" alt="" class="img-fluid">
                     <figcaption>
                        <h4>Trim<span><br>Fit</span></h4>
                        <p>Lorem ipsum dolor</p>
                        <a href="images/g7.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
                        </a>
                     </figcaption>
                  </figure>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-12 gallery-grids">
                  <figure class="effect-moses">
                     <img src="images/g8.jpg" alt="" class="img-fluid">
                     <figcaption>
                        <h4>Trim<span><br>Fit</span></h4>
                        <p>Lorem ipsum dolor</p>
                        <a href="images/g8.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
                        </a>
                     </figcaption>
                  </figure>
               </div>
            </div>
         </div>
      </section>
      <!--//Gallery-->
      <!--subscribe-->
      <section class="subscribe py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
            <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Subscribe Us</h3>
            <div class="row subscribe-form text-center">
               <div class="col-md-6 email-sub-agile">
			   <form action="#" method="post">
                  <div class="form-group ">
                     <input type="email" class="form-control email-sub-agile" placeholder="Email">
                  </div>
                  <div class="text-center">
                     <button type="submit" class="btn subscrib-btnn">Submit</button>
                  </div>
				  </form>
               </div>
               <div class="col-md-6">
                  <div class="wthree-form-list">
                     <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit,delectus reiciendis maiores alias consequatur aut.maiores alias</h4>
                  </div>
               </div>
            </div>
         </div>
      </section >
      <!--//subscribe-->

      
      {% endblock %} 