{% extends 'layout.html'%}
{% block content %}
   <body>
     <style>
      label{
         font-style: italic;
         font-size: medium;
      }
     </style>
      <!-- banner -->
      <div class="inner_page-banner two-img">
      </div>
      <!--//banner -->
      <!-- short -->
      <div class="using-border py-3">
         <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
               <li>
                  <a href="index.html">Home</a>
                  <span>/ /</span>
               </li>
               <li>Contact</li>
            </ul>
         </div>
      </div>
      <!-- //short-->
     
              
               <div class=" contact-wls-detail"> 
                  <center>
                  <div class=" contact-form pb-lg-3 pb-2" style="width: 700px;">
                     <form action="#" method="post">
                        <div class=" agile-wls-contact-mid mb-lg-4 mb-3">
                           <div class="form-group contact-forms">
                            <label>USERNAME </label> <br>
                             <input type="text" class="form-control">
                           </div>
                           <div class="form-group contact-forms">
                              <label>EMAIL</label> <br>
                              <input type="email" class="form-control" >
                           </div>
                        </div>
                        <div class="form-group contact-forms">
                           <label>PHONE</label> <br>
                           <input type="text" class="form-control" >
                        </div>
                          
                           <div class="form-group contact-forms">
                              <label>GOAL </label> <br>
                              <input type="text" class="form-control" >
                           </div>
                        <div class="form-group contact-forms">
                           <label>ADDRESS </label> <br>
                           <textarea class="form-control"  ></textarea>
                        </div>
                        <div class="form-group contact-forms">
                           <label>HEIGHT </label> <br>
                           <input type="text" class="form-control">
                        </div>
                        <div class="form-group contact-forms">
                           <label>WEIGHT</label> <br>
                           <input type="text" class="form-control">
                        </div>
                        <div class="form-group contact-forms">
                           <label>PASSWORD</label> <br>
                           <input type="text" class="form-control">
                        </div>
                        <button type="button" class="btn sent-butnn btn-lg">CONFIRM</button>
                     </form>
                  </div>
               </center>
                  
            </div>
         </div>
      </section>
      <!--//contact  -->
     



   

      {% endblock %} 